# Python Basic

## Define variable

Unlike other programming languages like Java the data type is not required to declare
and it can be dynamically change from integer to float

In [18]:
x = 20 # int
print(x)
x = 20.5 # float
print(x)

20
20.5

Strings are denoted by either
single-quote or double-quotes

In [19]:
x = '20'
x = "20"

Boolean variable and NULL equivalent in Python is None

In [20]:
x = True
x = False

# NoneType; equivalent to NULL
x = None

## Getting input from command prompt by user

In [21]:
name = input("What is your name?")
print("Good morning, !",name ) 

age = int(input('How old are you ?'))
print('You are',age,'years old')

#this is another way of formatting the print out
# placeholders defined by a pair of curly braces { } into a string and calling the str.format()
weight = float(input("How heavy are you ?"))
print('You are {0} kg'.format(weight))

Good morning, !

ValueError: invalid literal for int() with base 10: ''

## String Formatting

In [ ]:
item = 'iPhone 16'
price = 1500
print("I like the {}, but it costs {}.".format(item, price))

#another way to achieve the same printing
item = 'iPhone 16'
price = 1500
print("I like the {1}, but it costs {0}.".format(price, item))

I like the iPhone 16, but it costs 1500.
I like the iPhone 16, but it costs 1500.

## Date Formatting

In [ ]:
import datetime
my_date = datetime.date(2019,4,1)
'''
    %d - day of the month in this case is 01
    %B - Month in this case April
    %Y - Year in this case 2019
'''
print(my_date.strftime('%d %B %Y'))

#printing today's date including Monday/Tuesday/...
from datetime import date
today = date.today()
# %A - Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday
print(today.strftime('%A %d %B %Y'))

01 April 2019
Wednesday 16 October 2024

## Data Structure

### List

Inside a List it can contain different data types

In [ ]:
list = ['john', 36, 1.7]

To print the value of 'john', 36 and 1.7

In [ ]:
print(list[0])
print(list[1])
print(list[2])

for item in list:
    print(item)

john
36
1.7
john
36
1.7

To update the value or 'john' to 'mary'

In [ ]:
list[0] = 'mary'
print(list)

['mary', 36, 1.7]

## Sorting a list

### Sorting in ascending order

In [ ]:
# Sorting in ascending order
my_list = [3, 1, 4, 1, 5, 9]
sorted_list = sorted(my_list, reverse=True)
print(sorted_list)  # Output: [1, 1, 3, 4, 5, 9]

[9, 5, 4, 3, 1, 1]

### Sorting in reversing order

In [ ]:
words = ['banana', 'apple', 'cherry']
sorted_words = sorted(words, reverse=False)
print(sorted_words)  # Output: ['cherry', 'banana', 'apple']

['apple', 'banana', 'cherry']

### Sorting using different criteria for example code that sort using length of word

In [ ]:
# Sorting in descending order based on length of the word
words = ['banana', 'apple', 'cherry']
sorted_words = sorted(words, key=len, reverse=True)
print('Descending order (length of word): ',sorted_words)  # Output: ['banana', 'cherry', 'apple']

Descending order (length of word):  ['banana', 'cherry', 'apple']

### Tuple

The special thing about Tuple is it is immutable (meaning its values can't be changed)

In [ ]:
tuple = ('mary',3,5,4)
print(tuple)

('mary', 3, 5, 4)

Tuple's values can't be changed.

In [ ]:
tuple[0]='john'

TypeError: 'type' object does not support item assignment

Define a single element in Tuple

In [ ]:
singleTuple = (4)
print(singleTuple)

4

## Can Tuple be sorted ?

In [ ]:
my_tuple = (3, 1, 4, 1, 5, 9)
sorted_tuple = tuple(sorted(my_tuple)) #sort and assign to a different variable because remember tuple is immutable
print(sorted_tuple)  # Output: (1, 1, 3, 4, 5, 9)

### Dictionary

Dictionary is a name, value pair data structure.

In [ ]:
dict = {
    'name': 'john',
    'age': 36,
    'height': 1.7
}

Retrieve 'john', 36 and 1.7

In [ ]:
print(dict['name'])    # retrieves the value of name='name'
print(dict['age'])     # retrieves the value of name='age'
print(dict['height'])  # retrieves the value of name='height'

john
36
1.7

Dictionary is mutable
For example to update the name from 'john' to 'mary'

In [ ]:
dict['name'] = 'mary'
print(dict)

{'name': 'mary', 'age': 36, 'height': 1.7}

## Condition

### A single ***if*** statement

Check whether the X is null if yes set the value to 1

In [ ]:
x = None

if x == None:
    x = 1

x += 1
print(x)

2

### ***if-else*** statement

In [ ]:
a = 10

if a == 1:
    print("a = 1")
elif a <= 5:
    print("a <= 5")
else:
    print("a = {}".format(a))

a = 10

## Loop

### ***While*** Loop

In [ ]:
# init variable x with 1
x = 1

# stops after x reaches 4
while x < 5:
    print("x = {}".format(x))
    x += 1

x = 1
x = 2
x = 3
x = 4

Loop control

In [ ]:
# the code prints 1 2 3 4 5
x = 0
while True:
    # increment x by 1
    x += 1
    print(x)

    # skip to start of loop for
    # every values of 2
    if x % 2 == 0:
        continue
    
    # exit loop if x exceeds 3
    if x > 3:
        break

1
2
3
4
5

### ***For*** Loop

Iterate through a list by index

In [ ]:
list = ["john", 36, 1.7]

# access by index
for i in range(len(list)):
    print(list[i])

john
36
1.7

Iterate through a list by item

In [ ]:
for item in list:
    print(item)

john
36
1.7

Iterate through a tuple by item

In [ ]:
tuple = (1, 2, 3)
for item in tuple:
    print(item)

1
2
3

Iterate through a Dictionary and print its name and value line by line.

In [ ]:
dict = {
    'name': 'john',
    'age': 36,
    'height': 1.7
}
for item in dict:
    print(item,end=": ")
    print(dict[item])

name: john
age: 36
height: 1.7

## Function

Create a simple function that find the first position that has value x in the list.
Returns the position if found; -1 otherwise.

In [ ]:
def exists(arr, x):
    for i, val in enumerate(arr):
        if val == x:
            # returning position
            return i
    # not found
    return -1

Make the function call

In [ ]:
arr = [1, 2, 3]

pos = exists(arr, 3)

if pos == -1:
    print("Not Found")
else:
    print("Pos: {}".format(pos));

Pos: 2

## Lambda Function

In [ ]:
#Lambda Function to add 2 values together
x=4 
y=4
add_lambda = lambda x, y: x + y # Outputs: 8
print('{0} + {1} = {2}'.format(x,y,add_lambda(x,y)))

4 + 4 = 8

## Slicing

Slicing is the **extraction of a part of a string, list, or tuple** and enables users to access the specific range of elements by mentioning their indices

Syntax: Object [start:stop:step] “Start” specifies the starting index of a slice. “Stop” specifies the ending element of a slice.

In [ ]:
list = [1, 2, 3, 4, 5]

# slicing x
print(list[0:5])
print(list[1:3])
print(list[2:5])

[1, 2, 3, 4, 5]
[2, 3]
[3, 4, 5]

Update first 3 values of list

In [ ]:
list[0:3] = [10, 9, 8]
print(list)

[10, 9, 8, 4, 5]

if the start index is missing missing (defaults to 0)

In [ ]:
print(list[:3])

[10, 9, 8]

if the end index is missing (defaults to the last index)

In [ ]:
print(list[3:])

[4, 5]

Extract and prints the first 3 letters of a string

In [ ]:
s = 'hello'
print(s[:3])

hel

Extract and prints the last 3 letters of a string

In [ ]:
print(s[2:])

llo

Negative indexing meaning access the list from the end

Prints the last element of the list

In [ ]:
list = [1,2,3,4,5]
print(list[-1])

5

Prints the last 2nd element of the list

In [ ]:
print(list[-2])

4

Negative slicing

In [ ]:
print(list[-3:-1]) # from last third to last second
print(list[-1:]) # last element
print(list[:-1]) # from beginning to last second

[3, 4]
[5]
[1, 2, 3, 4]

Update with negative indexing

In [ ]:
list[-1] = 10
list[-2] = 9

print(list)

[1, 2, 3, 9, 10]

## Class

Class declaration - declaring a class with a constructor and a method self_intro

In [24]:
class Person:
    # constructor
    def __init__(self, name, year_of_birth):        
        # updating two instance-variables
        self.name = name
        self.year_of_birth = year_of_birth

    def self_intro(self):
        print("My name is {} and I'm born in {}.".format(
            self.name, self.year_of_birth))

creating a new person object

In [ ]:
john = Person("John", 1971)
john.self_intro()

My name is John and I'm born in 1971.

There are no explicit private or public modifiers in Python. Private attributes, by convention, are denoted by prefixing with an underscore (_). However, they are not enforced by the interpreter.

In [23]:
class APrivateClass:
    # constructor
    def __init__(self):        
        self.__private_attr = "I'm private"

    def _should_not_be_invoked_outside_class(self):
        print("I'm a private method")

privcl = APrivateClass()
privcl._should_not_be_invoked_outside_class()

I'm a private method

Class inheritance

In [25]:
class Employee(Person):
    def __init__(self, name, year_of_birth, company):        
        # updating two instance-variables
        self.name = name
        self.year_of_birth = year_of_birth
        self.company = company

    def self_intro(self):
        print("My name is {}, born in {} and work at {}.".format(
            self.name, self.year_of_birth, self.company)) 


emp = Employee("John", 1971, "NUS")
emp.self_intro()

My name is John, born in 1971 and work at NUS.