# Mini Standardization Exercise

Import necessary libraries

In [48]:
import numpy as np
import pandas as pd

Read files and check dataset

In [49]:
data = pd.read_csv('mini_data.csv')
data.head()

     X    Y    Z
0  1.3  1.0  1.2
1  3.5  3.4  3.3
2  3.2  2.9  3.1
3  1.1  0.9  1.1
4  1.4  1.2  1.1

Loop through columns and append standardized form using the standardisation formula to every value

In [ ]:
columns = data.columns
standardized_data = pd.DataFrame(columns=columns)

for column in columns:
    mean = np.mean(data[column])
    std = np.std(data[column])
    # print("Mean for {}: {} \n".format(column, mean))
    # print("Std for {}: {} \n".format(column, std))

    for x in range(len(data)):
       standardized_data.loc[x,column] = (data.loc[x, column] - mean)/std
        
standardized_data

          X         Y         Z
0 -0.884515 -0.961396 -0.868671
1  0.837549  0.884485  0.690482
2  0.602722  0.499926  0.541991
3 -1.041066 -1.038308 -0.942916
4 -0.806239 -0.807573 -0.942916
5 -1.197617  -1.11522 -1.091407
6  1.385479  1.269043  1.284445
7  1.072376  1.269043   1.35869
8  -0.96279 -0.961396 -1.017162
9  0.994101  0.961396  0.987463

Proof for zero-mean and unit-variance

In [ ]:
for column in columns:
    # Proof that standardized dataset now has a mean of 0
    columnSum = np.sum(standardized_data[column])
    print("Column {} sum: {} \n".format(column, columnSum))
    
    # Proof that dataset now has a standard deviation of 1
    columnStd = np.std(standardized_data[column])
    print("Column {} std: {} \n".format(column, columnStd))

Column X sum: -7.771561172376096e-16

Column X std: 0.9999999999999999

Column Y sum: -4.440892098500626e-16

Column Y std: 1.0

Column Z sum: -5.551115123125783e-16

Column Z std: 1.0