# Exercise 3 Pandas

1) Import pandas package

In [1]:
import pandas as pd

2) Load products.csv to a dataframe

In [7]:
df = pd.read_csv('products.csv')

3) Display first 5 rows

In [10]:
df.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

4) Display last 5 rows

In [11]:
df.tail()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0

5) Retrieve maximun unit price of the table

In [14]:
df['UnitPrice'].max()

263.5

6) Count the number of rows in the dataframe

In [17]:
len(df)

77

7) Display average unit price (hint: method:- mean())

In [20]:
float(df['UnitPrice'].mean())

28.866363636363637

8) Display the types of the columns

In [22]:
df.dtypes

ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

9) Display all columns for the 5th row (row 4)

In [25]:
df.iloc[4]

ProductID                               5
ProductName        Chef Anton's Gumbo Mix
SupplierID                              2
CategoryID                              2
QuantityPerUnit                  36 boxes
UnitPrice                           21.35
UnitsInStock                            0
UnitsOnOrder                            0
ReorderLevel                            0
Discontinued                            1
Name: 4, dtype: object

10) Display columns 3 to 5 for the row 9

In [27]:
df.iloc[9, [3,5]]

CategoryID       8
UnitPrice     31.0
Name: 9, dtype: object

11) Display row 3 to 5, columns from ProductName to UnitPrice

In [43]:
df2 = df.iloc[3:5][['ProductName', 'UnitPrice']]
df2
# df2 = df2.loc['ProductName']

                    ProductName  UnitPrice
3  Chef Anton's Cajun Seasoning      22.00
4        Chef Anton's Gumbo Mix      21.35

12) Display number of items (rows) for each category

In [ ]:
df2 = df.groupby(['CategoryID'])[['UnitsInStock']].sum()
df2

            UnitsInStock
CategoryID
1                    559
2                    507
3                    386
4                    393
5                    308
6                    165
7                    100
8                    701